/* adapted sticky footer code from Week 3 - lesson 3.1 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-container {
    flex: 1;
}
#main-container:after{
    content: "";
    display: block;
    height: 50px;
}
footer {
    background-color: #CCFF00;
    text-align: center;
}
